
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px; 
    padding: 15px 30px ;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #cd1813;
    color: #ffffff;
}

.secondary-btn{
    background-color: #ffffff;
    color: #cd1813;
}


/* Nav */
.navbar{
    background: transparent;
    margin-bottom: -100px;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e7ebef;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:active{
    color: #ffffff;
    border-bottom: 3px solid #cd1813;
}

.navbar .navbar-nav .call span{
    font-weight: 700;
}

.navbar .call img{
    width: 40px;
    height: 40px;
}

.navbar .call span{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e7ebef;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 10px;
}
/* Nav */



/* Home */
#home{
    padding-top: 240px;
    padding-bottom: 200px;
    background: linear-gradient(rgba(2,96,199,0.8),rgba(2,96,199,0.8)), url(../images/header-bkg-img.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #e7ebef;
    letter-spacing: 2px;
}

#home h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 84px;
}

#home h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

#home .home-img img{
    background: transparent;
    margin-top: -100px;
}
/* Home */
