
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px; 
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.primary-btn{
    background-color: #cd1813;
    color: #ffffff;
}

.secondary-btn{
    background-color: #cd1813;
    color: #ffffff;
    padding: 20px 40px;
}

.third-btn{
    background-color: #ffffff;
    color: #cd1813;
    padding: 20px 40px;
}

.fourth-btn{
    border: none;
    color: #cd1813;
    background: transparent;
    padding: 0;
    line-height: 1.44;
    letter-spacing: 0.36;
}


/* Nav */
.navbar{
    background: transparent;
    margin-bottom: -100px;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e7ebef;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover{
    color: #ffffff;
    border-bottom: 4px solid #cd1813;
}

.navbar .navbar-nav .call span{
    font-weight: 700;
}

.navbar .call img{
    width: 40px;
    height: 40px;
}

.navbar .call span{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 10px;
}
/* Nav */



/* Home */
#home{
    padding-top: 240px;
    padding-bottom: 200px;
    background: url(../images/header-backgroung-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #e7ebef;
    letter-spacing: 2px;
}

#home h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 84px;
    line-height: 1.07;
}

#home h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
/* Home */



/* Qualities */
#qualities{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #e7ebef;
}

#qualities .q-text h6{
    color: #030d19;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
}

#qualities .icon-box{
    display: flex;
}
/* Qualities */



/* Finding */
#finding{
    padding-top: 120px;
    padding-bottom: 120px;
}

#finding .finding-img img{
    width: 100%;
    border-radius: 10px;
}

#finding h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#finding h2 span{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #0260c7;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#finding p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
}

#finding li{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}
/* Finding */



/* Service */
#service{
    padding-top: 120px;
    padding-bottom: 50px;
    background: #e7ebef;
}

#service .service-body{
    padding: 0 300px;
    margin: auto;
}

#service h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#service h2 span{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #0260c7;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#service .service-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin: auto;
    line-height: 1.25;
    max-width: 90%;
}

#service .card{
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
}

#service .card .card-body{
    width: 85%;
    margin: auto;
}

#service .card img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
}

#service .card .card-heading h4{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #030d19;
    text-transform: uppercase;
    line-height: 1.06;
    letter-spacing: -0.6;
}

#service .card-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #030d19;
    line-height: 1.44;
}
/* Service */


/* request */
#request{
    background: #e7ebef;
    padding-top:50px;
    padding-bottom: 120px;
}

#request .container{
    max-width: 920px;
}

#request .request-box{
    background-color: #cd1813;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px 10px 10px 10px;
}

#request .request-heading h4{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
}
/* request */


/* Steps */
#steps{
    padding-top: 120px;
    padding-bottom: 110px;
}

#steps .step-heading h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
    max-width: 90%;
}

#steps .step-heading h2 span{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
    color: #0260c7;
}

#steps .step-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin: auto;
    line-height: 1.25;
}

#steps .img-icon-heading h5{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.06;
    letter-spacing: -0.6;
    text-transform: uppercase;
}

#steps .img-icon-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
}
/* Steps */


/* Choose-us */
#choose-us{
    padding-top: 129px;
    padding-bottom: 129px;
    background: url(../images/choose-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#choose-us .choose-body .choose-heading h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.13;
    letter-spacing: -1.2;
}

#choose-us .choose-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
}

#choose-us .choose-body{
    max-width: 60%;
}

#choose-us .choose-points .points p span i{
    font-weight: 700;
}

#choose-us .choose-points .points p{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
}

#choose-us .call{
    vertical-align: middle;
}

#choose-us .call img{
    width: 41px;
    height: 41px;
}

#choose-us .call span{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0.6;
    margin-left: 20px;
    color: #ffffff;
}
/* Choose-us */


/* testimonials */
#testimonials{
    padding-top: 120px;
    padding-bottom: 120px;
}

#testimonials .test-heading h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#testimonials .test-heading h2 span{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
    color: #0260c7;
}

#testimonials .test-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin: auto;
    line-height: 1.25;
}
/* testimonials */



/* about-us */
#about-us{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #e7ebef;
}

#about-us .about-us-image img{
    width: 100%;
    border-radius: 10px;

}

#about-us .about-us-body{
    max-width: 88%;
}

#about-us .about-us-body .about-us-heading h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
}

#about-us .about-us-body .about-us-heading h2 span{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1.2;
    color: #0260c7;
}

#about-us .about-us-body .about-us-sub-head h6{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 1.33;
}

#about-us .about-us-body .about-us-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: auto;
    line-height: 1.33;
    border-bottom: 1px solid #0260c7;
}


#about-us .about-us-icons .icon-head h5{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 1.375;
    letter-spacing: -0.96;
    color: #0260c7;
}

#about-us .about-us-icons .icon-text p{
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin: auto;
    line-height: 1.66;
    letter-spacing: -0.36 ;
}
/* about-us */


